.dialog {
    font-family: Roboto;
}
.dialog:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0px;
    left: 50px;
    border-top: 20px solid  transparent;
    border-bottom: 0px solid transparent;
    border-right: 20px solid gold;

}

.name {
    color: blue;
    font-weight: 500;
    margin-bottom: 5px;

}

.message {
    width: 200px;
}

.time {
    display: flex;
    flex-direction: row-reverse;
    margin-top: -10px;
    color: grey


}